/* Config styles */
$font-Kalam: "Kalam", cursive;
$primary-color: rgb(12, 21, 29);
$secondary-color: rgb(50, 123, 138);
$bg-primary-color: rgb(255, 255, 255);
$bg-secondary-color: rgb(229, 229, 229);