@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-Kalam;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.bg-secondary{
    width: 100%;
    background-color: $bg-secondary-color;
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .navbar-logo img {
        max-width: 180px;
        height: auto;
    }

    & .navbar-about-btn a,
    & .navbar-contact-btn a {
        font-size: 1.5rem;
        color: $primary-color;
    }
}

/* Hero section styles */
.hero {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-between;

    & .heading {
        text-align: left;
        font-size: 2.5rem;
        margin-right: 100px;
        line-height: 1.2;
    }

    & .hero-image img{
        max-width: 100%;
    }
}

.arrow-down{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    i{
        font-size: 40px;
        font-weight: bold;
        color: $primary-color;
    }
}

@import 'mobile';