@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-Kalam;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@import 'utilities';

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .navbar-logo img {
        max-width: 180px;
        height: auto;
    }

    & .navbar-about-btn a,
    & .navbar-contact-btn a {
        font-size: 1.5rem;
        color: $primary-color;
    }

    & .navbar-about-btn a:hover,
    & .navbar-contact-btn a:hover {
        opacity: 0.9;
    }

}

/* Hero section styles */
.hero {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: space-between;

    & .heading {
        text-align: left;
        font-size: 2.5rem;
        margin-right: 100px;
        line-height: 1.2;
    }

    & .hero-image img {
        max-width: 100%;
    }
}

.arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    & i {
        font-size: 40px;
        font-weight: bold;
        color: $primary-color;
    }
}

/* About Us Section */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    max-width: 650px;

    & .about-heading {
        font-size: 1.5rem;
        color: $secondary-color;
        margin: 30px 0;
    }

    & .about-paragraph {
        font-size: 1rem;
        margin: 20px 0;
    }

    .about-btns {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Affection & Attention Section */
.affection-and-attention {
    display: flex;
    align-items: center;
    justify-content: center;

    & .image img {
        max-width: 500px;
        border-radius: 20px;
        height: auto;
        margin-right: 50px;
    }

    & .affection-and-attention-content {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        h3 {
            color: $secondary-color;
            font-size: 1.5rem;
            margin: 10px 0;
        }

        p {
            color: $primary-color;
            font-size: 1rem;
            margin: 10px 0;
        }

        button {
            margin: 10px 0;
        }
    }
}

/* Footer Section */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    i {
        cursor: pointer;
        margin-top: 10px;
        font-size: 1.9rem;
    }

    p {
        margin: 10px 0;
    }
}


@import 'mobile';